name: ci

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "*"

env:
  IMAGE_REPOSITORY: ${{ github.repository }}
  IMAGE_REGISTRY: ghcr.io

jobs:
  build-edge:
    if: |
      contains(fromJson('["push","pull_request"]'), github.event_name) &&
      github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Build docker
        uses: meysam81/build-docker@main
        with:
          cosign: true
          image-extra-tags: |
            ghcr.io/${{ github.repository }}:${{ github.run_id }}
            ghcr.io/${{ github.repository }}:latest
          image-name: ghcr.io/${{ github.repository }}
          kubescape: true
          kubescape-upload-sarif: true

  semantic-release:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install bun deps
        run: bun install
      - id: semantic-release
        name: Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: bunx semantic-release@v24
      - if: steps.semantic-release.outputs.version != ''
        name: Build docker
        uses: meysam81/build-docker@main
        with:
          cosign: true
          image-extra-tags: |
            ghcr.io/${{ github.repository }}:${{ steps.semantic-release.outputs.version }}
          image-name: ghcr.io/${{ github.repository }}
          kubescape: true
          kubescape-upload-sarif: true
          ref: ${{ steps.semantic-release.outputs.version }}
